WAIT_PERIOD: 60 # How frequesntly to check 

WALLET:  # Your Subspace wallet address

SEND_DISCORD: False  # Want Discord notifications?

DISCORD_WEBHOOK:  # Webhook you want notifications to go to like 'https://discord.com/api/webhooks/119992878774912602/gLIVElXXXXXXXXXXXXXXXX'

SEND_PUSHOVER: False # Do you want to use Pushover for notifications?
PUSHOVER_APP_TOKEN: 
PUSHOVER_USER_KEY: 

NODE_IP: '127.0.0.1' # 127.0.0.1 for local machine otherwise correct IP
NODE_PORT: '9944' # Default 9944

