################
# True streams from Farmer directly, not from log.
# False means to read farmer log instead

IS_LIVE: False # I broke Live somehow.  Working on it.  Please set False and use logging for now. My apologies. 
TOGGLE_ENCODING: True # If reading Farmer log but disk list doesn't appear, set False

###############
FARMER_NAME: "Wolfrage1"

SHOW_LOGGING: True # If False, it will hide the Log scroll and only show farms.

FARMER_LOG: 'c:\\Users\\wolfrage\\subspace\\farmlog.txt' # If IS_LIVE is FALSE, it reads this log

WALLET: "xxxxxxxxxxxx"

NODE_EXECUTABLE_FOLDER: 'c:\\Users\\wolfrage\\subspace' # Optional - Windows needs double slashes
NODE_LOG_FILE: "c:\\Users\\wolfrage\\subspace\\nodelog.txt" # Windows uses double slashes

NODE_IP: "192.168.1.205" # Your nodes IP -- 127.0.0.1, 192.168.1.69, whatever
NODE_PORT: "9944" # Port the node is using

SEND_DISCORD: False
SEND_PUSHOVER: False
DISCORD_WEBHOOK: "https://discord.com/api/webhooks/xxxxxxxxxxxxxxxxxxxxxx"
PUSHOVER_USER_KEY:
PUSHOVER_APP_TOKEN:

WAIT_PERIOD: 300 # wallet check interval seconds

SHOW_PING: False
MUTE_HICKORY: True
HOUR_24: False

COMMANDLINE: '.\subspace-farmer-windows-x86_64-skylake-gemini-3h-2024-feb-01 farm --reward-address xxxxxxxxxx --node-rpc-url ws://192.168.1.205:9944 path=z:\\dev-farm,size=3GiB path=z:\\dev-farm2,size=2GiB --farm-during-initial-plotting false'
